::ng-deep .mat-select-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    margin: 0 4px;
    color:black;
}

::ng-deep .mat-select-value {
    display: table-cell;
    max-width: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:black;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 1px;
    background-color: brown;
}