
    <div style="display: flex;align-items: center;justify-content: center;">   
        <div class="contenedor-login">
            <div>
                    <h3>Bienvenido al sistema de Música</h3>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Usuario</mat-label>
                    <input matInput type="text" [(ngModel)]="usuario">
                    <button mat-button *ngIf="usuario !==''" matSuffix mat-icon-button aria-label="Clear" (click)="usuario=''">
                      <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            
            <div>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" [(ngModel)]="password">
                    <button mat-button *ngIf="password !==''" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
                      <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
              
            <div>
                <button class="boton" type="button" mat-button  (click)="validateLogin()">
                    Ingresar &nbsp;<i class="fa fa-sign-in" aria-hidden="true"></i>
                  </button>
            </div>
        </div>
    </div>

