table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 60%;
  }
  
  td, th {
    width: 25%;
  }

  :ng-deep .mat-sort-header-content {
    text-align: center;
    display: flex;
    align-items: center;
    color: red;
}

::ng-deep .mat-select-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    margin: 0 4px;
    color:white;
}

::ng-deep .mat-select-value {
    display: table-cell;
    max-width: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:white;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 1px;
    background-color: white;
}

