<div *ngIf="validarRol('Inicio')">
    <button mat-button routerLink="home">
        <i class="fa fa-home" aria-hidden="true"></i> &nbsp;
        Inicio
    </button>
</div>
<div *ngIf="validarRol('Dictado')">
    <button mat-button [matMenuTriggerFor]="dictado">
        <i class="fa fa-music" aria-hidden="true"></i>&nbsp;
        Dictados
    </button>
</div>
<div *ngIf="validarRol('Perfil Usuario')">
    <button mat-button routerLink="/admin/perfil-usuario">
        <i class="fa fa-id-card" aria-hidden="true"></i>
        &nbsp; Perfil Usuario</button>
</div>
<div *ngIf="validarRol('Admin')">
    <button mat-button [matMenuTriggerFor]="administracion">
        <i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;
        Administración</button>
</div>


<!--  Menu Dictados -->
<mat-menu  #dictado="matMenu" xPosition="after">
  <button class="menu" mat-menu-item routerLink="/dictados/dictado" >
     <i class="fa fa-file-audio-o" aria-hidden="true"></i>&nbsp;
    Nuevo</button>
  <button mat-menu-item class="menu" routerLink="/dictados/lista-dictado">
    <i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;  
    Dictados Anteriores</button>
</mat-menu>

<!-- Menu Configuración -->
<mat-menu #administracion="matMenu" xPosition="after">
    <button mat-menu-item  class="menu" routerLink="/admin/usuario">
        <i class="fa fa-user" aria-hidden="true"></i>&nbsp;
        Usuarios</button>
    <button mat-menu-item  class="menu" routerLink="/admin/perfil">
        <i class="fa fa-users" aria-hidden="true"></i>&nbsp;
        Perfiles</button>
</mat-menu>